{:paths   ["src" "test" "resources"]
 :deps    {com.stuartsierra/component        {:mvn/version "1.1.0"}
           com.github.auties00/whatsappweb4j {:mvn/version "3.0.5"}
           org.clojure/tools.nrepl           {:mvn/version "0.2.13"}
           com.github.discljord/discljord    {:mvn/version "1.3.1"}
           com.github.johnnyjayjay/slash     {:mvn/version "0.5.0-SNAPSHOT"}
           potemkin/potemkin                 {:mvn/version "0.4.6"}
           ;; Standard logging stack
           org.clojure/tools.logging         {:mvn/version "1.2.4"}
           org.slf4j/slf4j-api               {:mvn/version "1.7.30"}
           org.slf4j/jul-to-slf4j            {:mvn/version "1.7.30"}
           org.slf4j/jcl-over-slf4j          {:mvn/version "1.7.30"}
           org.slf4j/log4j-over-slf4j        {:mvn/version "1.7.30"}
           org.slf4j/osgi-over-slf4j         {:mvn/version "1.7.30"}
           ch.qos.logback/logback-classic    {:mvn/version "1.2.3"}
           ;; Web stack
           ring/ring-core                    {:mvn/version "1.7.1"}
           metosin/reitit                    {:mvn/version "0.6.0"}
           http-kit/http-kit                 {:mvn/version "2.6.0"}
           ;; Cloud (TODO: split this out into an alias)
           com.google.cloud/google-cloud-nio {:mvn/version "0.123.10"}
           }
 :aliases {:server
           ;; we override user.home because WhatsappWeb4J puts its session data in ~/.whatsappweb4j
           {:jvm-opts  ["-Duser.home=/var/lib/messagebridge" "--enable-preview"]
            :main-opts ["-m" "messagebridge.server"]}
           :repl/rebel
           {:jvm-opts  ["-Duser.home=/var/lib/messagebridge" "--enable-preview"]
            :extra-deps {nrepl/nrepl                {:mvn/version "0.9.0"}
                         cider/cider-nrepl          {:mvn/version "0.28.2"}
                         com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"
                         "-f" "rebel-readline.main/-main"]}
           :uber {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
                  :paths      ["build/src"]
                  :ns-default build}}}